.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.search-block {

}

.search {
    width: 305px;
    height: 21px;
    padding: 6px 14px;
}
